// Add custom font-faces here:
@import "../fonts/libre-baskerville.scss";
@import "../fonts/montserrat.scss";

:root {
  // Responsive type. Source: https://websemantics.uk/tools/responsive-font-calculator/
  font-size: clamp(14px, calc(0.75rem + ((1vw - 7.68px) * 0.1736)), 16px);
  min-height: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @apply font-sans;
  @apply text-base;
  @apply text-black;
  @apply font-normal;
}

.headline-xl,
.headline,
.h1,
.h2,
.h3 {
  @apply font-serif;
}

.headline-xl {
  @apply text-3xl;
  @apply font-medium;
  @apply mb-8;
}

.headline {
  @apply text-2xl;
  @apply font-normal;
  @apply mb-8;
}

.h1,
.h2,
.h3 {
  @apply font-light;
}

.h1 {
  @apply text-xl;
}

.h2 {
  @apply text-lg;
}

.h3 {
  @apply text-base;
}

.p {
  @apply mb-4;
  @apply text-sm;
}

.link {
  @apply font-medium;
  @apply underline;

  &:hover,
  &:active,
  &:focus {
    @apply text-red;
  }
}

@screen md {
  .headline-xl {
    @apply text-4xl;
  }
  .headline {
    @apply text-3xl;
  }
  .h1 {
    @apply text-2xl;
  }

  .h2 {
    @apply text-xl;
  }

  .h3 {
    @apply text-lg;
  }
  .p {
    @apply text-base;
  }
}
